.about-color{
    /* background-color: #F5EFFF; */
    background-color: #E5D9F2;
}

.borde{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 8px solid #533eba;
    background-color: red;
    /* border: 8px solid #5034dd; */
}

.bord2{
    height: 290px;
    width: 290px;
    border-radius: 50%;
    border: 8px solid #5034dd;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #533eba;
    /* background: url('images/portfo.jpeg'); */
    overflow: hidden;   
}


.edu-list{
    /* margin:0  auto; */
    /* border: 2px solid red; */
    width: fit-content;
    /* margin-left: 30px; */
}

.edu-list2{
    /* margin:0  auto; */
    /* border: 2px solid red; */
    width: fit-content;
    margin-left: 70px;
    /* background-color:red; */
}

/* .portfolio-img{
    object-fit: cover;
} */

/* .img-bor{
    border-color: #5034dd;
    height: 450px;
    border-radius: 15px;
    border: 12px solid #5034dd;
}

.img-bor img{
    object-fit: cover;
}

img{
    height: 450px;
} */


main{
    width: 100%;
}

.main-sub{
    width: 50%;
}

